.box{
    width: 60%;
    // border: 2px solid black;
    margin: 30px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(39, 38, 38);

    &:hover {
            transform: scale(1.05);
            transition: .5s all;
        }
    .def-text{
        margin: 20px 0px;
        background-color: aliceblue;
        padding: 8px;

    }
    .def-btn {
        color: white;
        background-color: black;
        padding: 10px;
        font-size: 1rem;
        cursor: pointer;
    }
    .disabled{
        pointer-events: none;
        opacity: 0.5;
    }

}
